{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="columns">
    <div class="column is-one-quarter">
        {% include 'posts/prefectures.html' %}
    </div>
    <div class="column is-half">
        <h3 class="is-size-4 mb-4"><span class="has-text-primary">{{ post_list|length }}</span> 件</h3>
        {% for post in post_list %}
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <img src="{{ post.location.location_image.url }}" width="270" height="420">
                </div>
                <div class="content">
                    <a href="#">
                        <strong>{{ post.author }}</strong>
                    </a>
                    <p class="is-size-5">
                        <strong>{{ post.location }}</strong>
                    </p>
                    <div class="block">
                        {% comment %} 投稿内容が75文字以上だったらそれ以降は表示しない {% endcomment %}
                        {{ post.body|truncatechars:75 }}
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    <div class="column is-one-quarter">
    </div>
</div>

{% endblock content %}