{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-half has-background-link-light">
        <div class="block">
            <h1 class="is-size-4">
                <strong>{{ post.location.name }}</strong>
            </h1>
        </div>
        <div class="block">
            <img src="{{ post.location.location_image.url }}" width="400" height="420">
        </div>
        <div class="block">
            場所: {{ post.location.prefecture }} - {{ post.location.city }}
        </div>
        <div class="block">
            情報: {{ post.body }}
        </div>
    </div>
</div>

{% endblock content %}